<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Home Page</title>

<!--  CSS-->
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />

<!--JS-->
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</head>

<body>
<nav th:replace="~{navbar :: navbarFragment}"></nav>
<h1>Welcome to Happy Trip!</h1>
<form th:action="@{/home}" th:object="${airForm}" method="post">
  <label for="roundWay">Round Way:</label>
  <input type="text" id="roundWay" th:field="*{roundWay}"><br>

  <label for="oneWay">One Way:</label>
  <input type="text" id="oneWay" th:field="*{oneWay}"><br>

  <label for="departure">Departure:</label>
  <input type="text" id="departure" th:field="*{departure}"><br>

  <label for="arrival">Arrival:</label>
  <input type="text" id="arrival" th:field="*{arrival}"><br>

  <label for="departureDate1">Departure Date 1:</label>
  <input type="text" id="departureDate1" th:field="*{departureDate1}"><br>

  <label for="departureDate2">Departure Date 2:</label>
  <input type="text" id="departureDate2" th:field="*{departureDate2}"><br>

  <label for="passenger">Passenger:</label>
  <input type="text" id="passenger" th:field="*{passenger}"><br>

  <button type="submit">Search Flights</button>
</form>
</body>
</html>