<!Doctype html>
<html xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="utf-8"/>
  <title>홈</title>

  <!--  CSS-->
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

  <!--  JS-->
  <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
  <style>
    .form-container {
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 10px;
      width: 100%; /* 폼의 너비 100%로 설정 */
      max-width: 600px; /* 최대 폼 너비 설정 */
    }

  </style>
</head>
<body>
<nav th:replace="~{navbar :: navbarFragment}"></nav>
<div class="container mt-4">
  <h1 class="text-center mt-5 mb-4">항공권 조회</h1>
  <div class="row justify-content-center">
    <form action="/reservation" method="POST" class="form-container">
      <div class="form-group">
        <label for="trip_type">여행 유형</label>
        <div class="d-flex">
          <div class="form-check form-check-inline mr-4">
            <input class="form-check-input" type="radio" name="trip_type" id="round_trip" value="round_trip" required>
            <label class="form-check-label" for="round_trip">왕복</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="trip_type" id="one_way" value="one_way" required>
            <label class="form-check-label" for="one_way">편도</label>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col">
          <label for="departure_date">출발 날짜</label>
          <input type="date" class="form-control" id="departure_date" name="departure_date" placeholder="출발 날짜" required>
        </div>
        <div class="col no-margin">
          <label for="return_date">도착 날짜</label>
          <input type="date" class="form-control" id="return_date" name="return_date" placeholder="도착 날짜" required>
        </div>
      </div>
      <div class="form-group mt-4">
        <label for="departure">출발지</label>
        <select class="form-control" id="departure" name="departure" required>
          <option value="" disabled selected>출발지</option>
          <option value="NAARKSS">김포</option>
          <option value="NAARKPC">제주</option>
          <option value="NAARKPU">울산</option>
          <option value="NAARKPK">김해</option>
          <option value="NAARKJY">여수</option>
        </select>
      </div>
      <div class="form-group">
        <label for="destination">도착지</label>
        <select class="form-control" id="destination" name="destination" required>
          <option value="" disabled selected>도착지</option>
          <option value="NAARKSS">김포</option>
          <option value="NAARKPC">제주</option>
          <option value="NAARKPU">울산</option>
          <option value="NAARKPK">김해</option>
          <option value="NAARKJY">여수</option>
        </select>
      </div>
      <div class="form-group">
        <label for="passengers">인원</label>
        <select class="form-control" id="passengers" name="passengers" required>
          <option value="" disabled selected>인원 선택</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-primary mt-4" th:onclick="|location.href=@{/reservation}|">조회</button>
      </div>
    </form>
  </div>
</div>
<footer th:replace="~{footer :: footerFragment}"></footer>
</body>
</html>