<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>관리자 페이지</title>

    <!--  CSS-->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />

    <!--JS-->
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</head>
<body>
<h1>선택한 항공편 정보</h1>
<div>
    <h3>항공편 상세 정보</h3>
<!--    <p>항공사: <span th:text="${selectedFlightData.airlineNm}"></span></p>-->
<!--    <p>출발지: <span th:text="${selectedFlightData.depAirportNm}"></span></p>-->
<!--    <p>도착지: <span th:text="${selectedFlightData.arrAirportNm}"></span></p>-->
<!--    <p>출발 시간: <span th:text="${selectedFlightData.depPlandTime}"></span></p>-->
<!--    <p>도착 시간: <span th:text="${selectedFlightData.arrPlandTime}"></span></p>-->
<!--    <p>소요 시간: <span th:text="${selectedFlightData.duration}"></span></p>-->
<!--    <p>이코노미 가격: <span th:text="${selectedFlightData.economyCharge}"></span></p>-->
<!--    <p>항공편명: <span th:text="${selectedFlightData.vihicleId}"></span></p>-->
</div>
</body>
</html>